<launch>

    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find nov7)/xacro/mycar.xacro" />
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find urdf01_rviz)/config/show_mycar.rviz" />
    <!-- 启动 gazebo
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    -->
    <node pkg="robot_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />

    <node pkg="arbotix_python" type="arbotix_driver" name="driver" output="screen">
        <rosparam command="load" file="$(find nov7)/config/control.yaml" />
        <param name="sim" value="true" />
    </node>
    <!-- 在 gazebo 中显示机器人模型
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />-->
</launch>
